/***Подключение шрифтов***/
@font-face {
	font-family: 'RobotRegular';
  
     src: url('./fonts/Robots-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
       
}
@font-face {
	font-family: 'RobotMedium';
  
     src: url('./fonts/Roboto-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
       
}
@font-face {
	font-family: 'RobotoItalick';
  
     src: url('./fonts/Roboto-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
       
}
@font-face {
	font-family: 'PhilosopherRegular';
  
     src: url('./fonts/Philosopher-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
       
}
@font-face {
	font-family: 'PhilosopherBold';
     src: url('./fonts/Philosopher-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
       
}
@font-face {
	font-family: 'fontawesome-webfont';
     src: url('../fonts/fontawesome-webfont.ttf'); /* Safari, Android, iOS */
       
}
/**=========================================================**/
  
  /***Универсальные классы***/
  
.titleBlock {
	font-size: 60px;
	color: #005c7b;
	text-transform: uppercase;
	font-family: 'PhilosopherBold';
	text-align: center;
}
/**=========================================================**/
  
  /***Описание стилей шапки сайта и меню***/
  
html, body {
	background-color: #eeeeed;
}


.headerBackground {
	background-color: #008daa;
	padding: 33px 0px 31px 0px;
	-webkit-box-shadow: 2px 4px 5px 0px rgba(34, 60, 80, 0.4);
	-moz-box-shadow: 2px 4px 5px 0px rgba(34, 60, 80, 0.4);
	box-shadow: 2px 4px 5px 0px rgb(34 60 80 / 40%);
}

.header__link, header__link:hover, header__link:visited {
	color: #d4d0c8;
	font-size: 24px;
	font-family: sans-serif;
	margin-left: 61px;
	letter-spacing: 0.25px;
}
.header__link:hover {
	color: #eeeeed;
	
}

.header__social {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-left: 80px;
	margin-top: 4px;
	width: 275px;
}
.header__social li {
	list-style-type: none;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	border: 2px solid #cfcec7;
}
.header__social li:hover {
	border: 2px solid #eeeeed;
}

.header__social li a {
	color: #cfcec7;
	font-size: 24px;
	
}
.header__social li:hover a {
	color: #eeeeed;
}
.header__social li:nth-child(2) a {
	font-size: 18px;
	padding: 0px 4px 2px 5px;
	
}
.header__social li:nth-child(2) {
	padding-top: 3px;
	padding-left: 10px;
	
}
.header__social li:nth-child(1) a {
	font-size: 19px;
	
	
}
.header__social li:nth-child(3) {
	border: none;
	margin-top: -12px;
	padding-left: 3px;
	
}
.header__social li:nth-child(3) a {
	font-size: 36px;
	
}
.header__social li:nth-child(4) {
	border: none;
	margin-top: -8px;
	
}

.header__social li:nth-child(4) a {
	font-size: 30px;
	
}
.header__menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-top: 18px;
	margin-right: 50px;
	margin-left: 63px;
	
}
.header__menu li {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	height: 20px;
	justify-content: center;
	
}
.header__menu li i {
	font-size: 12px;
	color: #06b9c5;
	width: 20px;
	text-align: center;
}

/*.header__menu li::after {
	
	content: '&2022';
	font-size: 25px;
	color: acquamarin;
}*/
.header__menu li a {
	
	color: #06b9c5;
	font-family: "Myriad Pro";
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	
}
.header__menu li a:hover {
	
	text-decoration: underline;
	color: #eb477b;
}
.main__background {
	height: 980px;
	background-image: url('img/block_one.png');
	background-size: 837px;
	background-repeat: no-repeat;
	background-position-x: 277px;
	background-position-y: 212px;
}
.main {
	margin-top: 113px;
	margin-right: 64px;
	margin-left: 64px;
}
.main_title {
	font-family: 'PhilosopherRegular';
	color: #005c7b;
	font-size: 55px;
	display: flex;
	flex-direction: column;
}
.main_title span:hover:nth-child(2) {
	margin-top: 45px;
}
.main__title_uppercase {
	text-transform: uppercase;
}
.main__about {
	color: #005c7b;
	font-size: 24px;
	font-family: 'RobotoMedium';
	margin: 92px;
}
.main__enrol {
	margin-top: 37px;
	background-color: #005c7b;
	font-size: 30px;
	font-family: 'RobotoRegular';
	color: #fff;
	padding: 6px 20px 9px 20px;
	border-radius: 100px;
}
.main__enrol:hover {
	color: #fff;
	background-color: #eb477b;
}
.aboutCourse__background {
	background-color: #fff;
}
.aboutCourse {
	padding-top: 123px;
	padding-bottom: 183px;
}
.aboutCourse__title {
	margin-bottom: 90px;
}
.aboutCourse__description_textline {
	color: #005c7b;
	font-size: 24px;
	font-family: 'RobotoRegular';
	line-height: 30px;
}
.aboutCourse__info {
	margin-top: 130px;
}
.aboutCourse__info_block:nth-child(1) .aboutCourse__info_picture {
	width: 100px;
	height: 100px;
	margin-left: 40px;
	margin-top: 4px;
}
.aboutCourse__info_block:nth-child(2) .aboutCourse__info_picture {
	height: 108px;
	margin-left: 11px;
	margin-bottom: 32px;
}
.aboutCourse__info_block:nth-child(3) .aboutCourse__info_picture {
	height: 90px;
	width: 90px;
	margin-left: -6px;
	margin-bottom: 38px;
	margin-top: 11px;
}
.aboutCourse__info_picture {
	margin-top: 35px;
	width: 100px;
	height: 100px;
	margin-left: 40px;
	margin-top: 4px;
}
.features {
	margin-top: 125px;
	height: 900px;
}
.features__title {
margin-bottom: 64px;
/* height: 900px; */
}
.features__list {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	height: 800px;
	width: 650px;
}
.features__list li {
	font-family: 'RobotRegular';
	font-size: 30px;
	list-style-type: none;
	color: #005c7b;
	width: 650px;
}
.features__list li i {
	margin-right: 42px;
}
.questions__background {
	background-color: #fff;
}
.questions {
	margin-bottom: 370px;
	padding-top: 130px;
}
.accordion {
	margin-left: 86px;
}
.questions__title {
	margin-bottom: 15px;
}
.questions__item {
	border: none;
}
.accordion-button {
	flex-direction: row-reverse;
	
}
.accordion-button::after {
	margin-right: auto;
	margin-left: 0px;
	content: '\f0d7';
	font-family: 'fontawesome-webfont';
	font-weight: 400px;
	background-image: none;
	/*background-image: url('img/arrow-up.png');*/
}
.accordion-header button {
	color: #008daa;
	font-size: 24px;
	font-family: 'PhilosopherBold';
}
.accordion-button {
	padding-bottom: 0px;
	padding-top: 41px;
}
.accordion-header button span {
	width: 100%;
	margin-left: 15px;
	line-height: 25px;
}

.accordion-button:not(.collapsed) {
	color: #008daa !important;
	background-color: #fff !important;
	box-shadow: none !important;
}
.accordion-button:focus {
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}
.accordion-body {
	color: #005c7d;
	font-size: 18px;
	font-family: "RobotoItalic";
	padding-top: 0;
	padding-bottom: 0;
}
.question__additional_title, .question__additional_anchor {
	font-family: 'PhilosopherBold';
	font-size: 36px;
	color: #008daa;
}
.question__additional_title {
	margin-bottom: 28px;
}
.question__additional_anchor:hover {
	color: #eb477b;
}
.question__additional {
	margin-top: 65px;
	text-align: center;
}
.accordion-button:not (.collapsed)::after {
	transform: none;
	/*background-image: url('img/arrow_up.png');
	
	background-size: cover;
	width: 40px;
	height: 30px; */ 
	background-image: none;
	content: "\f0d8";
	font-family: 'fontawesome-webfont';
	font-weight: 400px;
}
/**Блок Отзывы**/
.reviews {
	padding-top: 125px;
	padding-bottom: 328px;
}
.reviews__item {
	width: 66%;
	margin: 0 auto;
}
.reviews__item_content {
	color: #005c7b;
	font-size: 18px;
	font-family: 'RobotRegular';
	line-height: 24px;
	text-align: justify;
	min-height: 240px;
	letter-spacing: -0.4px;
	text-indent: 18px;
}
.reviews__item_foto {
	width: 110px;
	height: 110px;
	border-radius: 500px;
	/*display: block;*/
	margin-left: 342px;
}
.reviews__item_name {
	color: #008daa;
	font-size: 30px;
	font-family: 'PhilosopherRegular';
	text-align: center;
	margin-top: 19px;
	margin-left: 61px;
	letter-spacing: -0.2px;
	line-height: 32px;
}
.reviews__title {
	padding-left: 48px;
	padding-bottom: 98px;
}
.carousel-control-prev, .carousel-control-next {
	align-items: flex-star;
	margin-top: 64px;
}
.carousel {
	width: 86%;
	margin: 0 auto;
}
.carousel-control-prev-icon {
	background-image: url('img/arrow-right.png');
	transform: rotate(180deg);
	background-size: cover;
	width: 50px;
	height: 50px;
}
.contacts__site_head {
	font-family: 'RobotoMedium';
	font-size: 30px;
	color: #005c7b;
	align-self: center;
	margin-right: 45px;
}
.contacts__site_arrow {
	height: 45.36px;
	width: 251px;
}
.contacts__site_anchor {
	color: #008daa;
	font-size: 30px;
	font-family: 'RobotoMedium';
	margin-right: 45px;
}
.contacts__site {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-between;
	width: 81%;
	margin: 0 auto;
	
}
.contacts__background {
	background-color: #fff;
	
}
.contacts {
	padding-top: 130px;
	padding-bottom: 250px;
	
}
.social_title {
	font-family: 'RobotoMedium';
	color: #005c7b;
	font-size: 30px;
}
.social_menu {
	margin: 50px auto 0 auto;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 47%;
}

.carousel-control-next-icon {
	background-image: url('img/arrow-right.png');
	background-size: cover;
	width: 50px;
	height: 50px;
}
footer {
	background-color: #3957A6;
	color: white;
	font-size: 2rem;
}
.footer {
	font-size: 2rem;
	color: white;
}
.footer:hover {
	color: #eb477b; 
}
@media screen and (max-width: 1199px) {
	.header__link {
		margin-left: 0px;
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
	.header__social {
		
		margin: 0 auto;
		
	}
	
}
